<footer class="page-footer indigo darken-4 z-depth-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      <h5 class="white-text">SkiCoach.me - Online Ski Lessons, Anywhere, Anytime.</h5>
      <p class="grey-text text-lighten-4">Created by a USSA certified ski coach with 11 years of coaching experience, each lesson is focused around specific topics and designed to help you get the most out of your time spent on the hill.</p>

      <p class="grey-text text-lighten-4">Leverage technology and gain unlimited access to your next ski lesson. Access your chosen lessons at home, in the lodge, or on the ski lift and watch them over and over again.</p>

      <p class="grey-text text-lighten-4">No matter if it's your first time skiing or you're a seasoned veteran, we've got a lesson for you.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Are we Connected?</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"></a></li>
        </ul>
        <h5 class="white-text">Visit our Partners!</h5>
        <ul>
        <li><a class="grey-text text-lighten-3" href="http://emsc.lertprograms.com/" target="_blank">Eldora Mountain Ski Club</a></li>
        <li><a class="grey-text text-lighten-3" href="http://skixlr8.com" target="_blank">Mt. Brighton XLR8 Ski Club</a></li>
        <li><a class="grey-text text-lighten-3" href="#!"></a></li>
        <li><a class="grey-text text-lighten-3" href="#!"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l8 left">
          © 2016 Niche Ed, LLC. 
        </div>
        <div class="col s12 m6 l4 right">
          &nbsp;<%= link_to "About Us", pages_about_path, :class => "grey-text text-lighten-4" %>&nbsp;
          &nbsp;<%= link_to "Terms", pages_terms_path, :class => "grey-text text-lighten-4" %>&nbsp;
          &nbsp;<%= link_to "Privacy", pages_privacy_path, :class => "grey-text text-lighten-4" %>&nbsp;
        </div>
      </div>
    </div>
  </div>
</footer>
    