<footer class="page-footer teal lighten-3 z-depth-2">
        <div class="container">
            <div class="row">
            	<div class="col l3 m6 s12">
	                <h5 class="white-text">Get Startbox...</h5>
	                <p class="grey-text text-lighten-4">We're here to help you have fun with the kids, build awesome things for the home or apartment, and decimate the honey-do's. No matter whether this is your first time picking up a tool or you're up for creator of the year, we've got you covered.</p>
             	</div>
                <div class="col l3 m6 s12">
                    <h5 class="white-text">Find Projects...</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-4" href="/projects">All Projects</a></li>
                      <li><a class="grey-text text-lighten-4" href="#!">Kids and Crafts</a></li>
                      <li><a class="grey-text text-lighten-4" href="#!">Create for Home and Apartment</a></li>
                      <li><a class="grey-text text-lighten-4" href="#!">Honey Do How-To's</a></li>
                    </ul>
                </div>
            	<div class="col l3 m6 s12">
	                <h5 class="white-text">Get Social...</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-4" href="#!">Pinterest</a></li>
                      <li><a class="grey-text text-lighten-4" href="#!">Facebook</a></li>
	                  <li><a class="grey-text text-lighten-4" href="#!">Google Plus</a></li>
	                  <li><a class="grey-text text-lighten-4" href="#!">Twitter</a></li>
	                </ul>
            	</div>
                <div class="col l3 m6 s12">
                    <h5 class="white-text">Connect with Us!</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="/pages/about">About Us</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Our Team</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Send Email</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Send Snail Mail!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    	<div class="footer-copyright">
            <div class="container">
	            © 2015 Copyright Startbox, LLC.
	            <span class="right">
              <%= link_to "  Privacy Statement  ", pages_privacy_path, :class => "grey-text text-lighten-4" %>
               <%= link_to "  Terms of Use  ", pages_terms_path, :class => "grey-text text-lighten-4" %>
              </span>
            </div>
     	</div>
    </footer>