<% content_for :head do %>
	<title>About SkiCoach.me</title>
	<meta name="description" content="" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@skicoachme"> 
    <meta name="twitter:creator" content="@skicoachme">
    <meta name="twitter:title" content="About SkiCoach.me"> 
    <meta name="twitter:description" content="">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="SkiCoach.me" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="About SkiCoach.me" />        
    <meta property="og:description" content="" /> 
    <meta property="og:image" content="" />
<% end %>

<br />
<h5>About SkiCoach.me</h5>
<hr>
<div class="row">
    <div class="col l12 m12 s12">
        <div class="card z-depth 2">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">How it all Started</span>
                <p>
                    On Friday September 20, 2013, at about 6:00pm Startup Weekend Toledo was kicked off with a flurry of pitches. One of those pitches was to become Startbox. </p>
                <br />
                <p>
                    Over the range of ~54 hours a supremely talented team of designers, developers, entrepreneurs, and local industry experts crafted a cool eCommerce Box service. This Service, which came to be known as Startbox was built with the intent of sending quarterly boxed kits inspired by Pinterest projects.</p>
                <br />
                <p>
                    
                </p>
                <br />
                <p>
            </div>
        </div>
        <div class="card z-depth 2">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">How it all Started</span>
            </div>
        </div>
    </div>
</div>


