<% content_for :head do %>
	<title>SkiCoach.me Privacy Policy</title>
	<meta name="description" content="" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@skicoachme"> 
    <meta name="twitter:creator" content="@skicoachme">
    <meta name="twitter:title" content="SkiCoach.me Disclaimer"> 
    <meta name="twitter:description" content="">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="SkiCoach.me" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="SkiCoach.me Disclaimer" />        
    <meta property="og:description" content="" /> 
    <meta property="og:image" content="" />
<% end %>

<br />
<h5>DISCLAIMER</h5>
<hr>
<div class="row">
	<div class="col s12">
		
		<div class="card-content flow-text">
			<div class="row">
				Although every effort has been taken to ensure all the information on this site is correct and up to date, SkiCoach.me / NicheEd, LLC holds no responsibility for any incorrect information, or any incidents that might occur from using the information provided.
			</div>
			<div class="row">
				Skiing is inherently dangerous, and it is always advised to seek instruction when learning. This site explains the finished techniques in the sports, they should not be tried as explained on the first attempt. Exercises should be performed with an instructor to get to the standard needed to perform the lessons, drills, and tasks as described.
			</div>
			<div class="row">
				<h5>Skiers Code</h5>
				<ul>
					<li><i class="fa fa-check-square-o"></i> Always ride or ski in control and within your ability level.</li>
					<li><i class="fa fa-check-square-o"></i> Always stay in control, and be able to stop or avoid other people or objects.</li>
					<li><i class="fa fa-check-square-o"></i> People ahead of you have the right of way. It is your responsibility to avoid them.</li>
					<li><i class="fa fa-check-square-o"></i> You must not stop where you obstruct a trail, or are not visible from above.</li>
					<li><i class="fa fa-check-square-o"></i> Whenever starting downhill or merging into a trail, look uphill and yield to others.</li>
					<li><i class="fa fa-check-square-o"></i> Always use devices to help prevent runaway equipment.</li>
					<li><i class="fa fa-check-square-o"></i> Observe all posted signs and warnings. 
					<li><i class="fa fa-check-square-o"></i> Keep off closed trails and out of closed areas.</li>
					<li><i class="fa fa-check-square-o"></i> Prior to using any lift, you must have the knowledge and ability to load, ride and unload safely.</li>
				</ul>

			</div>
			<div class="row">
				<h5>Wear a Helmet!</h5>
				<p>SkiCoach.me strongly encourages skiers to wear winter sports helmets recognizing there are both benefits and limitations to their use. Regardless of whether or not you choose to wear a helmet, every winter sport participant shares responsibility for his or her safety and for that of others using any ski area and it's facilities. In addition the use of headphones while skiing or riding is strongly discouraged. For detailed information on helmet safety, got to National Ski Area Association website: www.nsaa.org/nsaa/safety/
				</p>
			</div>
		</div>
	</div>
</div>

