<% content_for :head do %>
	<title>SkiCoach.me Privacy Policy</title>
	<meta name="description" content="" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@skicoachme"> 
    <meta name="twitter:creator" content="@skicoachme">
    <meta name="twitter:title" content="SkiCoach.me Privacy Policy"> 
    <meta name="twitter:description" content="">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="SkiCoach.me" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="SkiCoach.me Privacy Policy" />        
    <meta property="og:description" content="" /> 
    <meta property="og:image" content="" />
<% end %>

<br />
<h5>PRIVACY POLICY</h5>
<hr>
<div class="row">
	<div class="col l12 m12 s12">
		<div class="card z-depth-2">
				<div class="card-content flow-text">
					<p class="line">
						Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.	
					</p>
				</div>
				
				<div class="col m10 offset-m1">
					<ul class="collection">
						<li class="collection-item">
							Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
						</li>
						<li class="collection-item">
							We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
						</li>
						<li class="collection-item">
							We will only retain personal information as long as necessary for the fulfillment of those purposes.
						</li>
						<li class="collection-item">
							We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
						</li>
						<li class="collection-item">
							Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
						</li>
						<li class="collection-item">
							We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
						</li>
						<li class="collection-item">
							We will make readily available to customers information about our policies and practices relating to the management of personal information.
						</li>
					</ul>
				</div>
				<div class="col m12">
					<p class="line">
						We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

