<% content_for :head do %>
	<title>SkiCoach.me Request / Suggest a Lesson</title>
	<meta name="description" content="" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@skicoachme"> 
    <meta name="twitter:creator" content="@skicoachme">
    <meta name="twitter:title" content="SkiCoach.me Request or Suggest a Lesson"> 
    <meta name="twitter:description" content="">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="SkiCoach.me" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="SkiCoach.me Request or Suggest a Lesson" />        
    <meta property="og:description" content="" /> 
    <meta property="og:image" content="" />
<% end %>

<div class="container center-align">
    <h2 class="header center blue-text text-darken-4">Suggest a Lesson</h2>
    <h5 class="center">Have an idea or suggestion for a lesson? Submit it below!</h5>
    <div class="row">
      <div class="col s12 m6 offset-m3">
		
		<div class="card-content flow-text">
			<div class="row">
				<div id="wufoo-s1ntnn2408ipw7b">
					Fill out my <a href="https://jminock.wufoo.com/forms/s1ntnn2408ipw7b">online form</a>.
					</div>
					<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/partners/">Wufoo integrations</a> and get your data to your favorite apps.</div>
					<script type="text/javascript">var s1ntnn2408ipw7b;(function(d, t) {
					var s = d.createElement(t), options = {
					'userName':'jminock',
					'formHash':'s1ntnn2408ipw7b',
					'autoResize':true,
					'height':'621',
					'async':true,
					'host':'wufoo.com',
					'header':'hide',
					'ssl':true};
					s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
					s.onload = s.onreadystatechange = function() {
					var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
					try { s1ntnn2408ipw7b = new WufooForm();s1ntnn2408ipw7b.initialize(options);s1ntnn2408ipw7b.display(); } catch (e) {}};
					var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
					})(document, 'script');</script>

			</div>
		</div>
	</div>
</div>