<% content_for :head do %>
	<title>Free and Premium Online Ski Lessons - SkiCoach.me</title>
	<meta name="description" content="" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@skicoachme"> 
    <meta name="twitter:creator" content="@skicoachme">
    <meta name="twitter:title" content="SkiCoach.me Free and Premium Online Ski Lessons"> 
    <meta name="twitter:description" content="Find a Ski Lesson and Improve Your Skiing in an Hour">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="SkiCoach.me" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="SkiCoach.me Free and Premium Online Ski Lessons" />        
    <meta property="og:description" content="Find a Ski Lesson and Improve Your Skiing in an Hour" /> 
    <meta property="og:image" content="" />
<% end %>

<br />
<h5>Find a Lesson, it's time to <i>Get Skiing</i></h5>
<hr>
<div class="row" data-no-turbolink>

	<% @projects.each do |project| %>
		<%= link_to project do %>
			<div class="col s12 m6 l4">
				<div class="card hoverable">

					<div class="card-image">
						<%= image_tag project.image %>
					</div>
						
					<div class="card-content" style="height: 10em">
						<p class="flow-text grey-text text-darken-4"><%= project.name %></p>
						<p class="grey-text text-darken-4"><%= project.s_description %></p>
						
					</div>	
					
				</div>
			</div>	
		<% end %>
	<% end %>
</div>