<% content_for :head do %>
	<title>Ski Lessons Anywhere, Anytime- SkiCoach.me</title>
	<meta name="description" content="" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@skicoachme"> 
    <meta name="twitter:creator" content="@skicoachme">
    <meta name="twitter:title" content="SkiCoach.me - Ski Lessons Anywhere, Anytime
    "> 
    <meta name="twitter:description" content="Join a Ski Lesson and Improve Your Skiing in an Hour">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="SkiCoach.me" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="SkiCoach.me - Ski Lessons Anywhere, Anytime" />        
    <meta property="og:description" content="Join a Ski Lesson and Improve Your Skiing in an Hour" /> 
    <meta property="og:image" content="" />
<% end %>

<% if(!user_signed_in?) %>

  <%= render 'project/pitchpage' %>
  <%= render 'project/new_user_lessons' %>

<% else %> 

  <%= render 'project/current_user_lessons' %>

<% end %>